<header class="site-header">
    <div class="wrapper">
        <div class="header_">
            <div class="header_logo" style="display: block;">
                <a href="/index.html"><img src="/resource/logo.png" style="width: 80%; height: auto;"/></a>
            </div>

            <div class="header_menu">
                <button type="button" id="menuButton"><img src="/resource/menu.png" alt=""></button>
            </div>
        </div>

        <div class="header_list" id="list">
            <ul>
                <li><a href="/mbs.html" target="_parent">成员</a></li>
                <li><a href="/pub.html" target="_parent">论文</a></li>
                <li><a href="/project.html" target="_parent">项目</a></li>
                <li><a href="/join.html" target="_parent">加入</a></li>
            </ul>
        </div>

        <div id="menu_list" style="display: none;">
            <hr>
            <p><a href="/mbs.html" target="_parent">成员</a></p>
            <p><a href="/pub.html" target="_parent">论文</a></p>
            <p><a href="/project.html" target="_parent">项目</a></p>
            <p><a href="/join.html" target="_parent">加入</a></p>
        </div>
    </div>
</header>